@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./ibm_plex_sans_400.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./ibm_plex_sans_600.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./ibm_plex_sans_700.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./ibm_plex_mono_400.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./ibm_plex_mono_600.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_01.woff2') format('woff2');
  unicode-range: U+20-7e, U+a7, U+a9, U+b0-b3, U+b5, U+b7, U+b9, U+c4, U+cb, U+cf, U+d6-d7, U+dc, U+e4, U+eb, U+ef, U+f6-f7, U+fc, U+ff, U+178, U+308, U+394, U+3a3, U+3b1, U+3bc, U+1e26-1e27, U+1e84-1e85, U+1e8c-1e8d, U+1e97, U+3000, U+3010-3011, U+ff01, U+ff5e;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_02.woff2') format('woff2');
  unicode-range: U+2013-2014, U+2026, U+2076, U+207b, U+2191-2194, U+2212, U+2248, U+2264-2265, U+226b, U+2460-2463, U+25b8, U+2605, U+26a0, U+2705, U+2715, U+3001-3002, U+300a-300b, U+4e00, U+4e09-4e0b, U+4e0d-4e0e, U+4e13-4e14, U+4e1a, U+4e1c, U+4e25, U+4e2a, U+4e2d, U+4e32, U+4e3a-4e3b, U+4e49, U+4e4b, U+4e66, U+4e86, U+4e8c, U+4e8e, U+4e92, U+4e94, U+4ea4, U+4ea7, U+4eae, U+4eba, U+4ec5, U+4ecb, U+4ecd-4ece, U+4ed6, U+4ed8, U+4ee3-4ee5, U+4eea, U+4ef6, U+4efb, U+4efd, U+4f1a, U+4f20;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_03.woff2') format('woff2');
  unicode-range: U+4f30, U+4f46, U+4f4d-4f4e, U+4f53, U+4f55, U+4f59, U+4f5c, U+4f7f, U+4f8b, U+4f9b, U+4f9d, U+4fa7, U+4fbf, U+4fdd, U+4fe1, U+4fee, U+500d, U+5019, U+503c, U+504f, U+505a, U+507f, U+5141, U+5143, U+5145, U+5148, U+514b, U+514d, U+5165, U+5168, U+516c-516d, U+5171, U+5173, U+5176-5178, U+517c, U+5185, U+518d, U+5199, U+51b3, U+51b5, U+51b7, U+51c0, U+51c6, U+51cf, U+51d1, U+51e0, U+51fa, U+51fd, U+5206-5207, U+520a, U+5212, U+5217, U+5219, U+521d, U+5224, U+5229, U+5230, U+5236-5237, U+523b, U+5242, U+524d, U+526f, U+5272, U+529b;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_04.woff2') format('woff2');
  unicode-range: U+529f-52a0, U+52a8-52a9, U+52c9, U+5300, U+5305, U+5316, U+5339-533b, U+5347, U+5355, U+5357, U+5361, U+5370, U+5373, U+5382, U+538b, U+539a, U+539f, U+53bb, U+53c2, U+53c8, U+53ca, U+53cc-53cd, U+53d1, U+53d6-53d8, U+53e0, U+53e3, U+53e5, U+53ef-53f0, U+53f3, U+53f6-53f8, U+5404, U+5408, U+540c-540e, U+5411, U+5426, U+542b-542c, U+542f, U+544a, U+5458, U+547d, U+548c, U+54c1, U+54cd, U+5546, U+5668, U+566a, U+56db, U+56de, U+56e0, U+56e2, U+56f4, U+56fa, U+56fd-56fe, U+5728, U+5730, U+573a;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_05.woff2') format('woff2');
  unicode-range: U+5747, U+5750, U+578b, U+57df, U+57fa, U+5835, U+585e, U+586b, U+5883, U+589e, U+58a8, U+58f0, U+5904, U+5907, U+590d, U+5916, U+591a, U+591f, U+5927, U+5931, U+5934, U+5939, U+5957, U+597d, U+5982, U+59cb, U+5b50, U+5b54, U+5b57-5b58, U+5b66, U+5b88-5b89, U+5b8c, U+5b98, U+5b9a, U+5b9e, U+5ba1-5ba2, U+5ba4, U+5bb6, U+5bb9, U+5bbd, U+5bc6, U+5bcc, U+5bf8-5bf9, U+5bfc, U+5bff, U+5c01, U+5c06, U+5c0f, U+5c11, U+5c18, U+5c3a, U+5c3d, U+5c40, U+5c42, U+5c4f, U+5c55, U+5de5, U+5dee, U+5df2, U+5e03, U+5e15, U+5e26, U+5e38, U+5e55, U+5e72-5e73;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_06.woff2') format('woff2');
  unicode-range: U+5e74, U+5e76, U+5e8f, U+5e94-5e95, U+5ea6-5ea7, U+5ed3, U+5ef6, U+5efa, U+5f00, U+5f02, U+5f0f, U+5f15, U+5f20, U+5f3a, U+5f52-5f53, U+5f55, U+5f62, U+5f69, U+5f71, U+5f81, U+5f84, U+5f97, U+5fa1, U+5faa, U+5fae, U+5fc3, U+5fc5, U+5feb, U+6001, U+6027, U+603b, U+606f-6070, U+60ac, U+60ef, U+610f, U+611f, U+6210, U+6212, U+6216, U+6218, U+622a, U+6237, U+623f-6240, U+6253, U+6258, U+6267, U+6269, U+626b, U+6279, U+627f-6280, U+6297-6298, U+62a4-62a5, U+62ab, U+62c6, U+62d4, U+62fc, U+6301, U+6307, U+6309, U+6311, U+6324, U+632f;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_07.woff2') format('woff2');
  unicode-range: U+6355, U+635f, U+6362, U+636e, U+6388-6389, U+6392, U+63a5, U+63a7-63a8, U+63aa, U+63cf-63d0, U+6458, U+6491, U+64cd-64ce, U+652f, U+6536, U+6539, U+653e, U+6548, U+654f, U+6563, U+6570, U+6574, U+6587, U+6599, U+659c, U+65ad, U+65af-65b0, U+65b9, U+65bd, U+65cf, U+65e0, U+65e2, U+65e5, U+65e7, U+65f6, U+660e, U+6613, U+6620, U+662f, U+663e, U+6653, U+665a, U+666f, U+66b4, U+66f2, U+66f4, U+6700, U+6709, U+670d, U+671f, U+672a-672c, U+672f, U+673a, U+6743, U+674e, U+675f, U+6761, U+6765, U+677f, U+6781, U+6784, U+6790, U+679c;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_08.woff2') format('woff2');
  unicode-range: U+67d3, U+67e5, U+6805, U+6807, U+680f, U+6821, U+6837-6838, U+683c, U+6846, U+6848, U+684c, U+6863, U+68c0, U+6984, U+6a21, U+6a2a, U+6a44, U+6b21, U+6b27, U+6b3e, U+6b62-6b64, U+6bb5, U+6bcf, U+6bd4, U+6beb, U+6c14, U+6c38, U+6c42, U+6c47, U+6c61, U+6c70, U+6cd5, U+6ce8, U+6d01, U+6d32, U+6d41, U+6d45, U+6d4b, U+6d4e-6d4f, U+6d53, U+6d6e, U+6d77, U+6d88, U+6da1, U+6dd8, U+6de1, U+6df1, U+6dfb, U+6e05, U+6e10, U+6e17, U+6e29, U+6e32, U+6e38, U+6e4d, U+6e90, U+6eaf, U+6eb6, U+6ed1, U+6eda, U+6ee1, U+6ee4, U+6f0f, U+704c, U+7070, U+70b9;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_09.woff2') format('woff2');
  unicode-range: U+70c3, U+70df, U+70ed, U+70ef, U+7126, U+7130, U+7167, U+7236, U+7247-7248, U+724c, U+7269, U+7279, U+72b6, U+7387, U+73af-73b0, U+73bb, U+73c0, U+7406, U+7425, U+751f, U+7528, U+7531-7532, U+7535, U+753b, U+754c, U+7559, U+7565, U+7591, U+767d, U+7684, U+76ae, U+76ca, U+76d1, U+76d6, U+76d8, U+76df, U+76ee, U+76f4, U+76f8, U+7701, U+771f, U+77e9, U+77ed, U+77f3, U+7801, U+7840, U+786c, U+786e, U+793a, U+7981, U+79bb, U+79cd, U+79d1-79d2, U+79ef-79f0, U+79fb, U+7a0b, U+7a33, U+7a7a, U+7a7f, U+7acb, U+7ae0, U+7aef, U+7b26, U+7b2c, U+7b49;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_10.woff2') format('woff2');
  unicode-range: U+7b56, U+7b5b, U+7b7e, U+7b80, U+7b97, U+7ba1, U+7bb1, U+7c73, U+7c7b, U+7c89, U+7c92, U+7cbe, U+7cfb, U+7d20, U+7d27, U+7ea0, U+7ea2, U+7ea4, U+7ea6-7ea7, U+7eb3, U+7eb8-7eb9, U+7ebf, U+7ec4, U+7ec6-7ec8, U+7ecf, U+7ed3, U+7ed8-7ed9, U+7edf, U+7eed, U+7ef4, U+7eff, U+7f13, U+7f16, U+7f29, U+7f3a, U+7f51, U+7f6e, U+7f8e, U+7ffb, U+8001, U+8003, U+8005, U+800c, U+8017, U+8054, U+805a, U+80a1, U+80cc, U+80f6, U+80fd, U+811a, U+8154, U+817e, U+81ea, U+81f3-81f4, U+822a, U+822c, U+826f, U+8272, U+827a, U+8282, U+82af, U+82e5, U+82ef;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_11.woff2') format('woff2');
  unicode-range: U+82f1, U+8303, U+8350, U+836f, U+8377, U+83b7, U+83cc, U+843d, U+8457, U+84dd, U+8584, U+8651, U+867d, U+884c, U+8861, U+8865, U+8868, U+886c, U+8870, U+88ab, U+88c5, U+88d5, U+8936, U+8981, U+8986, U+89c1, U+89c4, U+89c6, U+89c8-89c9, U+89d2, U+89e3, U+89e6, U+8a00, U+8b66, U+8ba1-8ba2, U+8ba4, U+8ba9, U+8bae, U+8bb0, U+8bb2, U+8bb8, U+8bba, U+8bbe-8bbf, U+8bc1, U+8bc4, U+8bc6, U+8bcd, U+8bd1, U+8bd5, U+8be5-8be6, U+8bed, U+8bef, U+8bf4, U+8bf7, U+8bfb, U+8c03, U+8c28, U+8d1f, U+8d23, U+8d28, U+8d77, U+8d85, U+8db3, U+8ddd, U+8def, U+8df3;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_12.woff2') format('woff2');
  unicode-range: U+8e2a, U+8f67, U+8f6c, U+8f6e-8f6f, U+8f74, U+8f7d, U+8f83, U+8f85, U+8f91, U+8f93, U+8f9b, U+8fb9, U+8fbe, U+8fc7, U+8fce, U+8fd0-8fd1, U+8fd4, U+8fd9, U+8fdb-8fdc, U+8fde, U+8ff0, U+8ffd, U+9001-9002, U+9009-900a, U+900f-9010, U+9012, U+9014, U+901a, U+901f-9020, U+903b, U+9053, U+9075, U+907f, U+90bb, U+90e8, U+914d, U+916f, U+9178, U+91c7, U+91cd, U+91cf, U+949f-94a0, U+94ae, U+9501, U+951a, U+952e, U+957f, U+95ed-95ee, U+95f4, U+9600, U+9605, U+9608, U+9632, U+9634-9636, U+963b, U+9644-9645, U+964d, U+9650;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto_sans_sc_400_13.woff2') format('woff2');
  unicode-range: U+9661, U+9664, U+9669, U+9694, U+969c, U+96c6, U+96fe, U+9700, U+9732, U+9752, U+9759, U+975b, U+975e, U+9760, U+9762, U+9875-9876, U+9879-987b, U+9884, U+9898, U+989d, U+98ce, U+9988, U+9996, U+9a8c, U+9ad8, U+9ec4, U+9f99, U+ff08-ff09, U+ff0c, U+ff1a-ff1b, U+ff1f;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_01.woff2') format('woff2');
  unicode-range: U+20-7e, U+a7, U+a9, U+b0-b3, U+b5, U+b7, U+b9, U+c4, U+cb, U+cf, U+d6-d7, U+dc, U+e4, U+eb, U+ef, U+f6-f7, U+fc, U+ff, U+178, U+308, U+394, U+3a3, U+3b1, U+3bc, U+1e26-1e27, U+1e84-1e85, U+1e8c-1e8d, U+1e97, U+3000, U+3010-3011, U+ff01, U+ff5e;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_02.woff2') format('woff2');
  unicode-range: U+2013-2014, U+2026, U+2076, U+207b, U+2191-2194, U+2212, U+2248, U+2264-2265, U+226b, U+2460-2463, U+25b8, U+2605, U+26a0, U+2705, U+2715, U+3001-3002, U+300a-300b, U+4e00, U+4e09-4e0b, U+4e0d-4e0e, U+4e13-4e14, U+4e1a, U+4e1c, U+4e25, U+4e2a, U+4e2d, U+4e32, U+4e3a-4e3b, U+4e49, U+4e4b, U+4e66, U+4e86, U+4e8c, U+4e8e, U+4e92, U+4e94, U+4ea4, U+4ea7, U+4eae, U+4eba, U+4ec5, U+4ecb, U+4ecd-4ece, U+4ed6, U+4ed8, U+4ee3-4ee5, U+4eea, U+4ef6, U+4efb, U+4efd, U+4f1a, U+4f20;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_03.woff2') format('woff2');
  unicode-range: U+4f30, U+4f46, U+4f4d-4f4e, U+4f53, U+4f55, U+4f59, U+4f5c, U+4f7f, U+4f8b, U+4f9b, U+4f9d, U+4fa7, U+4fbf, U+4fdd, U+4fe1, U+4fee, U+500d, U+5019, U+503c, U+504f, U+505a, U+507f, U+5141, U+5143, U+5145, U+5148, U+514b, U+514d, U+5165, U+5168, U+516c-516d, U+5171, U+5173, U+5176-5178, U+517c, U+5185, U+518d, U+5199, U+51b3, U+51b5, U+51b7, U+51c0, U+51c6, U+51cf, U+51d1, U+51e0, U+51fa, U+51fd, U+5206-5207, U+520a, U+5212, U+5217, U+5219, U+521d, U+5224, U+5229, U+5230, U+5236-5237, U+523b, U+5242, U+524d, U+526f, U+5272, U+529b;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_04.woff2') format('woff2');
  unicode-range: U+529f-52a0, U+52a8-52a9, U+52c9, U+5300, U+5305, U+5316, U+5339-533b, U+5347, U+5355, U+5357, U+5361, U+5370, U+5373, U+5382, U+538b, U+539a, U+539f, U+53bb, U+53c2, U+53c8, U+53ca, U+53cc-53cd, U+53d1, U+53d6-53d8, U+53e0, U+53e3, U+53e5, U+53ef-53f0, U+53f3, U+53f6-53f8, U+5404, U+5408, U+540c-540e, U+5411, U+5426, U+542b-542c, U+542f, U+544a, U+5458, U+547d, U+548c, U+54c1, U+54cd, U+5546, U+5668, U+566a, U+56db, U+56de, U+56e0, U+56e2, U+56f4, U+56fa, U+56fd-56fe, U+5728, U+5730, U+573a;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_05.woff2') format('woff2');
  unicode-range: U+5747, U+5750, U+578b, U+57df, U+57fa, U+5835, U+585e, U+586b, U+5883, U+589e, U+58a8, U+58f0, U+5904, U+5907, U+590d, U+5916, U+591a, U+591f, U+5927, U+5931, U+5934, U+5939, U+5957, U+597d, U+5982, U+59cb, U+5b50, U+5b54, U+5b57-5b58, U+5b66, U+5b88-5b89, U+5b8c, U+5b98, U+5b9a, U+5b9e, U+5ba1-5ba2, U+5ba4, U+5bb6, U+5bb9, U+5bbd, U+5bc6, U+5bcc, U+5bf8-5bf9, U+5bfc, U+5bff, U+5c01, U+5c06, U+5c0f, U+5c11, U+5c18, U+5c3a, U+5c3d, U+5c40, U+5c42, U+5c4f, U+5c55, U+5de5, U+5dee, U+5df2, U+5e03, U+5e15, U+5e26, U+5e38, U+5e55, U+5e72-5e73;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_06.woff2') format('woff2');
  unicode-range: U+5e74, U+5e76, U+5e8f, U+5e94-5e95, U+5ea6-5ea7, U+5ed3, U+5ef6, U+5efa, U+5f00, U+5f02, U+5f0f, U+5f15, U+5f20, U+5f3a, U+5f52-5f53, U+5f55, U+5f62, U+5f69, U+5f71, U+5f81, U+5f84, U+5f97, U+5fa1, U+5faa, U+5fae, U+5fc3, U+5fc5, U+5feb, U+6001, U+6027, U+603b, U+606f-6070, U+60ac, U+60ef, U+610f, U+611f, U+6210, U+6212, U+6216, U+6218, U+622a, U+6237, U+623f-6240, U+6253, U+6258, U+6267, U+6269, U+626b, U+6279, U+627f-6280, U+6297-6298, U+62a4-62a5, U+62ab, U+62c6, U+62d4, U+62fc, U+6301, U+6307, U+6309, U+6311, U+6324, U+632f;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_07.woff2') format('woff2');
  unicode-range: U+6355, U+635f, U+6362, U+636e, U+6388-6389, U+6392, U+63a5, U+63a7-63a8, U+63aa, U+63cf-63d0, U+6458, U+6491, U+64cd-64ce, U+652f, U+6536, U+6539, U+653e, U+6548, U+654f, U+6563, U+6570, U+6574, U+6587, U+6599, U+659c, U+65ad, U+65af-65b0, U+65b9, U+65bd, U+65cf, U+65e0, U+65e2, U+65e5, U+65e7, U+65f6, U+660e, U+6613, U+6620, U+662f, U+663e, U+6653, U+665a, U+666f, U+66b4, U+66f2, U+66f4, U+6700, U+6709, U+670d, U+671f, U+672a-672c, U+672f, U+673a, U+6743, U+674e, U+675f, U+6761, U+6765, U+677f, U+6781, U+6784, U+6790, U+679c;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_08.woff2') format('woff2');
  unicode-range: U+67d3, U+67e5, U+6805, U+6807, U+680f, U+6821, U+6837-6838, U+683c, U+6846, U+6848, U+684c, U+6863, U+68c0, U+6984, U+6a21, U+6a2a, U+6a44, U+6b21, U+6b27, U+6b3e, U+6b62-6b64, U+6bb5, U+6bcf, U+6bd4, U+6beb, U+6c14, U+6c38, U+6c42, U+6c47, U+6c61, U+6c70, U+6cd5, U+6ce8, U+6d01, U+6d32, U+6d41, U+6d45, U+6d4b, U+6d4e-6d4f, U+6d53, U+6d6e, U+6d77, U+6d88, U+6da1, U+6dd8, U+6de1, U+6df1, U+6dfb, U+6e05, U+6e10, U+6e17, U+6e29, U+6e32, U+6e38, U+6e4d, U+6e90, U+6eaf, U+6eb6, U+6ed1, U+6eda, U+6ee1, U+6ee4, U+6f0f, U+704c, U+7070, U+70b9;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_09.woff2') format('woff2');
  unicode-range: U+70c3, U+70df, U+70ed, U+70ef, U+7126, U+7130, U+7167, U+7236, U+7247-7248, U+724c, U+7269, U+7279, U+72b6, U+7387, U+73af-73b0, U+73bb, U+73c0, U+7406, U+7425, U+751f, U+7528, U+7531-7532, U+7535, U+753b, U+754c, U+7559, U+7565, U+7591, U+767d, U+7684, U+76ae, U+76ca, U+76d1, U+76d6, U+76d8, U+76df, U+76ee, U+76f4, U+76f8, U+7701, U+771f, U+77e9, U+77ed, U+77f3, U+7801, U+7840, U+786c, U+786e, U+793a, U+7981, U+79bb, U+79cd, U+79d1-79d2, U+79ef-79f0, U+79fb, U+7a0b, U+7a33, U+7a7a, U+7a7f, U+7acb, U+7ae0, U+7aef, U+7b26, U+7b2c, U+7b49;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_10.woff2') format('woff2');
  unicode-range: U+7b56, U+7b5b, U+7b7e, U+7b80, U+7b97, U+7ba1, U+7bb1, U+7c73, U+7c7b, U+7c89, U+7c92, U+7cbe, U+7cfb, U+7d20, U+7d27, U+7ea0, U+7ea2, U+7ea4, U+7ea6-7ea7, U+7eb3, U+7eb8-7eb9, U+7ebf, U+7ec4, U+7ec6-7ec8, U+7ecf, U+7ed3, U+7ed8-7ed9, U+7edf, U+7eed, U+7ef4, U+7eff, U+7f13, U+7f16, U+7f29, U+7f3a, U+7f51, U+7f6e, U+7f8e, U+7ffb, U+8001, U+8003, U+8005, U+800c, U+8017, U+8054, U+805a, U+80a1, U+80cc, U+80f6, U+80fd, U+811a, U+8154, U+817e, U+81ea, U+81f3-81f4, U+822a, U+822c, U+826f, U+8272, U+827a, U+8282, U+82af, U+82e5, U+82ef;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_11.woff2') format('woff2');
  unicode-range: U+82f1, U+8303, U+8350, U+836f, U+8377, U+83b7, U+83cc, U+843d, U+8457, U+84dd, U+8584, U+8651, U+867d, U+884c, U+8861, U+8865, U+8868, U+886c, U+8870, U+88ab, U+88c5, U+88d5, U+8936, U+8981, U+8986, U+89c1, U+89c4, U+89c6, U+89c8-89c9, U+89d2, U+89e3, U+89e6, U+8a00, U+8b66, U+8ba1-8ba2, U+8ba4, U+8ba9, U+8bae, U+8bb0, U+8bb2, U+8bb8, U+8bba, U+8bbe-8bbf, U+8bc1, U+8bc4, U+8bc6, U+8bcd, U+8bd1, U+8bd5, U+8be5-8be6, U+8bed, U+8bef, U+8bf4, U+8bf7, U+8bfb, U+8c03, U+8c28, U+8d1f, U+8d23, U+8d28, U+8d77, U+8d85, U+8db3, U+8ddd, U+8def, U+8df3;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_12.woff2') format('woff2');
  unicode-range: U+8e2a, U+8f67, U+8f6c, U+8f6e-8f6f, U+8f74, U+8f7d, U+8f83, U+8f85, U+8f91, U+8f93, U+8f9b, U+8fb9, U+8fbe, U+8fc7, U+8fce, U+8fd0-8fd1, U+8fd4, U+8fd9, U+8fdb-8fdc, U+8fde, U+8ff0, U+8ffd, U+9001-9002, U+9009-900a, U+900f-9010, U+9012, U+9014, U+901a, U+901f-9020, U+903b, U+9053, U+9075, U+907f, U+90bb, U+90e8, U+914d, U+916f, U+9178, U+91c7, U+91cd, U+91cf, U+949f-94a0, U+94ae, U+9501, U+951a, U+952e, U+957f, U+95ed-95ee, U+95f4, U+9600, U+9605, U+9608, U+9632, U+9634-9636, U+963b, U+9644-9645, U+964d, U+9650;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto_sans_sc_600_13.woff2') format('woff2');
  unicode-range: U+9661, U+9664, U+9669, U+9694, U+969c, U+96c6, U+96fe, U+9700, U+9732, U+9752, U+9759, U+975b, U+975e, U+9760, U+9762, U+9875-9876, U+9879-987b, U+9884, U+9898, U+989d, U+98ce, U+9988, U+9996, U+9a8c, U+9ad8, U+9ec4, U+9f99, U+ff08-ff09, U+ff0c, U+ff1a-ff1b, U+ff1f;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_01.woff2') format('woff2');
  unicode-range: U+20-7e, U+a7, U+a9, U+b0-b3, U+b5, U+b7, U+b9, U+c4, U+cb, U+cf, U+d6-d7, U+dc, U+e4, U+eb, U+ef, U+f6-f7, U+fc, U+ff, U+178, U+308, U+394, U+3a3, U+3b1, U+3bc, U+1e26-1e27, U+1e84-1e85, U+1e8c-1e8d, U+1e97, U+3000, U+3010-3011, U+ff01, U+ff5e;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_02.woff2') format('woff2');
  unicode-range: U+2013-2014, U+2026, U+2076, U+207b, U+2191-2194, U+2212, U+2248, U+2264-2265, U+226b, U+2460-2463, U+25b8, U+2605, U+26a0, U+2705, U+2715, U+3001-3002, U+300a-300b, U+4e00, U+4e09-4e0b, U+4e0d-4e0e, U+4e13-4e14, U+4e1a, U+4e1c, U+4e25, U+4e2a, U+4e2d, U+4e32, U+4e3a-4e3b, U+4e49, U+4e4b, U+4e66, U+4e86, U+4e8c, U+4e8e, U+4e92, U+4e94, U+4ea4, U+4ea7, U+4eae, U+4eba, U+4ec5, U+4ecb, U+4ecd-4ece, U+4ed6, U+4ed8, U+4ee3-4ee5, U+4eea, U+4ef6, U+4efb, U+4efd, U+4f1a, U+4f20;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_03.woff2') format('woff2');
  unicode-range: U+4f30, U+4f46, U+4f4d-4f4e, U+4f53, U+4f55, U+4f59, U+4f5c, U+4f7f, U+4f8b, U+4f9b, U+4f9d, U+4fa7, U+4fbf, U+4fdd, U+4fe1, U+4fee, U+500d, U+5019, U+503c, U+504f, U+505a, U+507f, U+5141, U+5143, U+5145, U+5148, U+514b, U+514d, U+5165, U+5168, U+516c-516d, U+5171, U+5173, U+5176-5178, U+517c, U+5185, U+518d, U+5199, U+51b3, U+51b5, U+51b7, U+51c0, U+51c6, U+51cf, U+51d1, U+51e0, U+51fa, U+51fd, U+5206-5207, U+520a, U+5212, U+5217, U+5219, U+521d, U+5224, U+5229, U+5230, U+5236-5237, U+523b, U+5242, U+524d, U+526f, U+5272, U+529b;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_04.woff2') format('woff2');
  unicode-range: U+529f-52a0, U+52a8-52a9, U+52c9, U+5300, U+5305, U+5316, U+5339-533b, U+5347, U+5355, U+5357, U+5361, U+5370, U+5373, U+5382, U+538b, U+539a, U+539f, U+53bb, U+53c2, U+53c8, U+53ca, U+53cc-53cd, U+53d1, U+53d6-53d8, U+53e0, U+53e3, U+53e5, U+53ef-53f0, U+53f3, U+53f6-53f8, U+5404, U+5408, U+540c-540e, U+5411, U+5426, U+542b-542c, U+542f, U+544a, U+5458, U+547d, U+548c, U+54c1, U+54cd, U+5546, U+5668, U+566a, U+56db, U+56de, U+56e0, U+56e2, U+56f4, U+56fa, U+56fd-56fe, U+5728, U+5730, U+573a;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_05.woff2') format('woff2');
  unicode-range: U+5747, U+5750, U+578b, U+57df, U+57fa, U+5835, U+585e, U+586b, U+5883, U+589e, U+58a8, U+58f0, U+5904, U+5907, U+590d, U+5916, U+591a, U+591f, U+5927, U+5931, U+5934, U+5939, U+5957, U+597d, U+5982, U+59cb, U+5b50, U+5b54, U+5b57-5b58, U+5b66, U+5b88-5b89, U+5b8c, U+5b98, U+5b9a, U+5b9e, U+5ba1-5ba2, U+5ba4, U+5bb6, U+5bb9, U+5bbd, U+5bc6, U+5bcc, U+5bf8-5bf9, U+5bfc, U+5bff, U+5c01, U+5c06, U+5c0f, U+5c11, U+5c18, U+5c3a, U+5c3d, U+5c40, U+5c42, U+5c4f, U+5c55, U+5de5, U+5dee, U+5df2, U+5e03, U+5e15, U+5e26, U+5e38, U+5e55, U+5e72-5e73;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_06.woff2') format('woff2');
  unicode-range: U+5e74, U+5e76, U+5e8f, U+5e94-5e95, U+5ea6-5ea7, U+5ed3, U+5ef6, U+5efa, U+5f00, U+5f02, U+5f0f, U+5f15, U+5f20, U+5f3a, U+5f52-5f53, U+5f55, U+5f62, U+5f69, U+5f71, U+5f81, U+5f84, U+5f97, U+5fa1, U+5faa, U+5fae, U+5fc3, U+5fc5, U+5feb, U+6001, U+6027, U+603b, U+606f-6070, U+60ac, U+60ef, U+610f, U+611f, U+6210, U+6212, U+6216, U+6218, U+622a, U+6237, U+623f-6240, U+6253, U+6258, U+6267, U+6269, U+626b, U+6279, U+627f-6280, U+6297-6298, U+62a4-62a5, U+62ab, U+62c6, U+62d4, U+62fc, U+6301, U+6307, U+6309, U+6311, U+6324, U+632f;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_07.woff2') format('woff2');
  unicode-range: U+6355, U+635f, U+6362, U+636e, U+6388-6389, U+6392, U+63a5, U+63a7-63a8, U+63aa, U+63cf-63d0, U+6458, U+6491, U+64cd-64ce, U+652f, U+6536, U+6539, U+653e, U+6548, U+654f, U+6563, U+6570, U+6574, U+6587, U+6599, U+659c, U+65ad, U+65af-65b0, U+65b9, U+65bd, U+65cf, U+65e0, U+65e2, U+65e5, U+65e7, U+65f6, U+660e, U+6613, U+6620, U+662f, U+663e, U+6653, U+665a, U+666f, U+66b4, U+66f2, U+66f4, U+6700, U+6709, U+670d, U+671f, U+672a-672c, U+672f, U+673a, U+6743, U+674e, U+675f, U+6761, U+6765, U+677f, U+6781, U+6784, U+6790, U+679c;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_08.woff2') format('woff2');
  unicode-range: U+67d3, U+67e5, U+6805, U+6807, U+680f, U+6821, U+6837-6838, U+683c, U+6846, U+6848, U+684c, U+6863, U+68c0, U+6984, U+6a21, U+6a2a, U+6a44, U+6b21, U+6b27, U+6b3e, U+6b62-6b64, U+6bb5, U+6bcf, U+6bd4, U+6beb, U+6c14, U+6c38, U+6c42, U+6c47, U+6c61, U+6c70, U+6cd5, U+6ce8, U+6d01, U+6d32, U+6d41, U+6d45, U+6d4b, U+6d4e-6d4f, U+6d53, U+6d6e, U+6d77, U+6d88, U+6da1, U+6dd8, U+6de1, U+6df1, U+6dfb, U+6e05, U+6e10, U+6e17, U+6e29, U+6e32, U+6e38, U+6e4d, U+6e90, U+6eaf, U+6eb6, U+6ed1, U+6eda, U+6ee1, U+6ee4, U+6f0f, U+704c, U+7070, U+70b9;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_09.woff2') format('woff2');
  unicode-range: U+70c3, U+70df, U+70ed, U+70ef, U+7126, U+7130, U+7167, U+7236, U+7247-7248, U+724c, U+7269, U+7279, U+72b6, U+7387, U+73af-73b0, U+73bb, U+73c0, U+7406, U+7425, U+751f, U+7528, U+7531-7532, U+7535, U+753b, U+754c, U+7559, U+7565, U+7591, U+767d, U+7684, U+76ae, U+76ca, U+76d1, U+76d6, U+76d8, U+76df, U+76ee, U+76f4, U+76f8, U+7701, U+771f, U+77e9, U+77ed, U+77f3, U+7801, U+7840, U+786c, U+786e, U+793a, U+7981, U+79bb, U+79cd, U+79d1-79d2, U+79ef-79f0, U+79fb, U+7a0b, U+7a33, U+7a7a, U+7a7f, U+7acb, U+7ae0, U+7aef, U+7b26, U+7b2c, U+7b49;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_10.woff2') format('woff2');
  unicode-range: U+7b56, U+7b5b, U+7b7e, U+7b80, U+7b97, U+7ba1, U+7bb1, U+7c73, U+7c7b, U+7c89, U+7c92, U+7cbe, U+7cfb, U+7d20, U+7d27, U+7ea0, U+7ea2, U+7ea4, U+7ea6-7ea7, U+7eb3, U+7eb8-7eb9, U+7ebf, U+7ec4, U+7ec6-7ec8, U+7ecf, U+7ed3, U+7ed8-7ed9, U+7edf, U+7eed, U+7ef4, U+7eff, U+7f13, U+7f16, U+7f29, U+7f3a, U+7f51, U+7f6e, U+7f8e, U+7ffb, U+8001, U+8003, U+8005, U+800c, U+8017, U+8054, U+805a, U+80a1, U+80cc, U+80f6, U+80fd, U+811a, U+8154, U+817e, U+81ea, U+81f3-81f4, U+822a, U+822c, U+826f, U+8272, U+827a, U+8282, U+82af, U+82e5, U+82ef;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_11.woff2') format('woff2');
  unicode-range: U+82f1, U+8303, U+8350, U+836f, U+8377, U+83b7, U+83cc, U+843d, U+8457, U+84dd, U+8584, U+8651, U+867d, U+884c, U+8861, U+8865, U+8868, U+886c, U+8870, U+88ab, U+88c5, U+88d5, U+8936, U+8981, U+8986, U+89c1, U+89c4, U+89c6, U+89c8-89c9, U+89d2, U+89e3, U+89e6, U+8a00, U+8b66, U+8ba1-8ba2, U+8ba4, U+8ba9, U+8bae, U+8bb0, U+8bb2, U+8bb8, U+8bba, U+8bbe-8bbf, U+8bc1, U+8bc4, U+8bc6, U+8bcd, U+8bd1, U+8bd5, U+8be5-8be6, U+8bed, U+8bef, U+8bf4, U+8bf7, U+8bfb, U+8c03, U+8c28, U+8d1f, U+8d23, U+8d28, U+8d77, U+8d85, U+8db3, U+8ddd, U+8def, U+8df3;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_12.woff2') format('woff2');
  unicode-range: U+8e2a, U+8f67, U+8f6c, U+8f6e-8f6f, U+8f74, U+8f7d, U+8f83, U+8f85, U+8f91, U+8f93, U+8f9b, U+8fb9, U+8fbe, U+8fc7, U+8fce, U+8fd0-8fd1, U+8fd4, U+8fd9, U+8fdb-8fdc, U+8fde, U+8ff0, U+8ffd, U+9001-9002, U+9009-900a, U+900f-9010, U+9012, U+9014, U+901a, U+901f-9020, U+903b, U+9053, U+9075, U+907f, U+90bb, U+90e8, U+914d, U+916f, U+9178, U+91c7, U+91cd, U+91cf, U+949f-94a0, U+94ae, U+9501, U+951a, U+952e, U+957f, U+95ed-95ee, U+95f4, U+9600, U+9605, U+9608, U+9632, U+9634-9636, U+963b, U+9644-9645, U+964d, U+9650;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto_sans_sc_700_13.woff2') format('woff2');
  unicode-range: U+9661, U+9664, U+9669, U+9694, U+969c, U+96c6, U+96fe, U+9700, U+9732, U+9752, U+9759, U+975b, U+975e, U+9760, U+9762, U+9875-9876, U+9879-987b, U+9884, U+9898, U+989d, U+98ce, U+9988, U+9996, U+9a8c, U+9ad8, U+9ec4, U+9f99, U+ff08-ff09, U+ff0c, U+ff1a-ff1b, U+ff1f;
}
