@use '@/styles/variables.scss' as *;

.container {
  height: 100vh;
  background: $color-bg-page;
}

.scrollView {
  height: 100%;
}

.content {
  padding: $page-padding;
  padding-bottom: calc($page-padding + 120rpx);
}
