# 服务器配置
PORT=3001
NODE_ENV=development

# Docker中运行 （容器ID：4611a5ee49934c735d31c3ed26d3d4ed7424e3c4b5bdcbed2ce8562942b9010b）
DB_HOST=host.docker.internal
DB_PORT=13306
DB_USER=root
DB_PASSWORD=123456
DB_DATABASE=caiwu
DB_CHARSET=utf8mb4

# JWT 密钥（生产环境需要更复杂的随机字符串）
JWT_SECRET=your-super-secret-jwt-key-change-this
JWT_EXPIRES_IN=7d

# 前端 URL（用于 CORS）
FRONTEND_URL=http://localhost:5173

# 日志级别
LOG_LEVEL=info